<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARC_Final_Vision_Inspection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ARC_Final_Vision_Inspection.Properties.Settings>
            <setting name="cameraIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="autoButtonEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoButtonWriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="autoButtonReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton1Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton1WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton1ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton1OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton1OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton2Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton2WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton2ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton2OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton2OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton3Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton3WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton3ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton3OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton3OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton4Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton4WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton4ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton4OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton4OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton5Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton5WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton5ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton5OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton5OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton6Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcButton6WriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton6ReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton6OnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="plcButton6OffLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="manualButtonWriteAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="manualButtonReadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcCommsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcMessageDisplayColorIndicatorAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcMessageDisplayAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcPartCountersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcPartCounterGoodAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcPartCounterBadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResultMonitorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcResultMonitorName" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult1Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult1Title" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult2Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult2Title" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult3Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcResult3Title" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryMessageAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryMessageColorAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcMainPartCounterResetButtonAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryPartCounterResetButtonAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryDisplayMessageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainMessageTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="secondaryMessageTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryPartCounterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plcSecondaryPartCounterGoodAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryPartCounterBadAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcMainSerialNumberAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondarySerialNumberAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryResult1Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryResult2Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryResult3Address" serializeAs="String">
                <value />
            </setting>
            <setting name="plcSecondaryResultEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ARC_Final_Vision_Inspection.Properties.Settings>
    </userSettings>
</configuration>